.effect:hover::after{
    /* transform: scale(1.1); */
    transition: 400ms;
    width: 100%;
  }
  
  .effect::after{
    content:'';
    display:block;
    height: 4px;
    width:0;
    background:#c4c4f7;
    transition:all .5
  }
  
  .buldge:hover{
    transform: scale(1.1);
    transition: 400ms;
  }

body{

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 46% 49%, rgba(28, 27, 153, 1) 0%, rgba(8, 23, 60, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 46% 49%, rgba(28, 27, 153, 1) 0%, rgba(8, 23, 60, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 46% 49%, rgba(28, 27, 153, 1) 0%, rgba(8, 23, 60, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 46% 49%, rgba(28, 27, 153, 1) 0%, rgba(8, 23, 60, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 46% 49%, rgba(28, 27, 153, 1) 0%, rgba(8, 23, 60, 1) 100%);

    color: white
}

.colorwhite{
  color: white;
}

.taskm{
  text-decoration: underline;
  font-size: xx-large;
}

.taskmnav{
  font-size: x-large;
}